# Environments
*.py[oc]
build/
dist/
wheels/
.DS_Store
.venv
.python-version
pyproject.toml
uv.lock
main.py

*.egg-info
__pycache__/


# Results or Logs
slurm_output/
leaderboard*
threshold_0.0/
threshold_5.0/
thinkless/
